.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
    width: 320px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:whitesmoke;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.submit{
    font-weight: bold;
    text-align: center;
    padding: 7px 15px;
    width: 100px;
    color: white;
    background-color: skyblue;
    border: 2px solid skyblue;
    align-self: center;
    border-radius: 5px;
}
.erreur{
    color:  rgb(173, 50, 50);
    font-weight: bold;
    text-align: center;
    font-size: small;
}
.success{
    color: rgb(86, 197, 86);
    font-weight: bold;
    font-size: small;
    align-self: center;
    margin-left: 50px;
}
select{
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    padding: 7px 15px;
    border: 2px solid skyblue;
}
.montant{
    align-self: center;  
}
.home{
    color: white;
    border: white;
    background-color: rgb(7, 129, 7);
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 10px;
}
.succes-block{
    display: flex;
    justify-content: space-between;
    white-space: inherit;
}